.card {
  img {
    max-width: 100%;
  }
  .card_container {
    h2 {
      text-align: center;
    }
    p {
      b {
        padding: 10px;
        background: $primary;
        display: block;
        color: #fff;
      }
      span {
        color: black;
        display: block;
        padding: 0 10px;
      }
      &::first-letter {
        font-size: 1.3em;
      }
    }
  }
}
