.layout {
  background: #ffffff;
  @include shadow();
  min-width: 200px;
  max-width: 80%;
  margin: 20px auto;
  @include flex(center, center, column);
  padding: 16px 32px;
  label {
    @include flex(center, flex-start, column);
    margin: 5px;
    height: auto;
    width: 100%;
    input {
      margin-top: 5px;
      padding: 5px;
      width: 100%;
      height: 30px;
    }
    .inline_radio {
      @include flex(flex-start, center, row);

      p {
        @include flex(flex-start, center, row);
        margin: 5px;
        font-size: 12px;
      }
      input[type='radio'] {
        width: 25px;
      }
    }
  }
  button {
    margin: 15px;
    color: white;
    background: $primary;
    border: none;
    padding: 16px 32px;
  }
}
@media screen and (max-width: $sm) {
  .Form {
    max-width: 80%;
  }
}
