// declare variables

// breakpoints
$lg: 1200px;
$md: 992px;
$sm: 796px;
$xs: 480px;

// colors
$primary: rgb(76, 175, 80);
$secondary: rgb(52, 152, 219);
$danger: rgb(231, 76, 60);

// mixins
@mixin shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@mixin flex($hz: center, $vt: center, $dir: row, $wrap: nowrap) {
  display: flex;
  justify-content: $hz;
  align-items: $vt;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

@mixin perfectCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
