.pagination {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 1%;
  width: 98%;
  top: calc(50% - 20px);

  .pagination_prev {
    position: absolute;
    left: 10px;

    &:hover {
      opacity: 0.8;
    }
  }
  .pagination_next {
    position: absolute;
    right: 10px;

    &:hover {
      opacity: 0.8;
    }
  }
}
@media screen and (max-width: $sm) {
  .pagination {
    .pagination_next,
    .pagination_prev {
      opacity: 0.5;
    }
  }
}
