table {
  z-index: 1;
  @include shadow();
  border-collapse: collapse;
  background: #fff;
  margin: 10px auto 0;
  position: relative;
  max-width: calc(100% - 170px);
  thead {
    display: table;
    width: 100%;
  }

  tbody {
    transition: all 0.5s ease-in-out;
    display: block;
    max-height: calc(100vh - 75px);
    overflow-y: scroll;
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: #f5f5f5;
    }
    tr td:last-child {
      a {
        text-align: center;
        margin: 2px;
        width: 100%;
        button {
          display: block;
          transition: all 0.5s ease;
          width: 100%;
          border: none;
          padding: 3px;
          &:hover {
            color: white;
            cursor: pointer;
          }
          &.button_view:hover {
            background: $primary;
          }
          &.button_edit:hover {
            background: $secondary;
          }
          &.button_delete:hover {
            background: $danger;
          }
        }
      }
    }
  }
  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
    th,
    td {
      height: 50px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      min-width: 100px;
      max-width: 300px;
      width: 14%;
      font-size: 14px;
      text-align: left;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    th {
      background-color: $primary;
      color: white;
    }
  }

  img {
    max-width: 80%;
  }
}

@media screen and (max-width: $md) {
  table {
    min-width: 80%;
    thead {
      display: none;
    }
    tbody tr {
      border-bottom: 1px solid gray;
      display: flex;
      flex-direction: column;
      margin: 4px 0;
      td {
        min-width: unset;
        max-width: unset;
        width: 100%;
        height: auto;
        &:last-child {
          @include flex(space-around, center, row);
          a {
            width: auto;
            margin: 0;
            button {
              width: auto;
              padding: 4px;
            }
          }
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  table {
    margin: 10px auto;
    position: static;
    max-width: 100%;
    tbody {
      max-height: 100%;
    }
  }
}
@media screen and (max-width: $sm) {
  table {
    margin: 15px;
  }
}
