@import './style.scss';
// main layout
.header {
  height: $publicMenuHeight;
}
.wrapper {
  height: $wrapperHeight;
  @include perfectCenter();
}
// login,register

table {
  position: absolute;
  z-index: 1;
  @include shadow();
  border-collapse: collapse;
  background: #fff;
  margin: 10px auto 0;
  position: relative;
  min-width: calc(100% - 200px);

  th,
  td {
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    min-width: 100px;
    max-width: 300px;
    width: 14%;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    word-break: break-all; /* 4. */
  }
  tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box;
  }
  th {
    background-color: $primary;
    color: white;
  }
  tbody {
    transition: all 0.5s ease-in-out;
  }
  tbody tr td:last-child {
    a {
      text-align: center;
      margin: 2px;
      width: 100%;

      button {
        transition: all 0.5s ease;
        width: 100%;
        border: none;
        padding: 3px;
        &:hover {
          color: white;
          cursor: pointer;
        }
        &.button_view:hover {
          background: $primary;
        }
        &.button_edit:hover {
          background: $secondary;
        }
        &.button_delete:hover {
          background: $danger;
        }
      }
      display: block;
    }
    // @include flex(center, center, column);
  }
  thead {
    display: table; /* to take the same width as tr */
    width: 100%; /* - 17px because of the scrollbar width */
  }
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  tbody {
    display: block; /* to enable vertical scrolling */
    max-height: calc(100vh - 92px); /* e.g. */
    overflow-y: scroll;
  }

  img {
    max-width: 50px;
  }
}

// card
.card {
  background: #fff;
  @include flex(flex-start, center, column);
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  min-width: 200px;
  max-width: 600px;

  padding: 16px;
  .container {
    width: 100%;
    h2 {
      text-align: center;
    }
    p {
      b {
        padding: 10px;
        background: $primary;
        display: block;
        color: #fff;
      }
      span {
        color: black;
        display: block;
        padding: 0 10px;
      }
      &::first-letter {
        font-size: 1.3em;
      }
    }
  }
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

// pagination_prev
.pagination {
  position: fixed;
  z-index: 0;
  backface-visibility: hidden;
  top: 0;
  left: 1%;
  width: 98%;
  top: calc(50% - 20px);
  .pagination_prev {
    position: absolute;
    left: 10px;
  }
  .pagination_next {
    position: absolute;
    right: 10px;
  }
  .pagination_prev:hover {
    opacity: 0.8;
  }
  .pagination_next:hover {
    opacity: 0.8;
  }
}
.fadeIn {
  opacity: 0;
}
.Circle {
  position: fixed;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
  width: 50px;

  border-radius: 50%;
  height: 50px;
  @include perfectCenter();
}

// edit form
.editForm {
  background: #ffffff;
  @include shadow();
  min-width: 30%;
  max-width: 50%;
  margin: 20px auto;
  @include flex(center, center, column);
  padding: 16px 32px;
  label {
    @include flex(center, flex-start, column);
    margin: 5px;
    height: auto;
    width: 100%;
    input {
      margin-top: 5px;
      padding: 5px;
      width: 100%;
      height: 30px;
    }
    .inline_radio {
      @include flex(flex-start, center, row);

      p {
        @include flex(flex-start, center, row);
        margin: 15px;
        font-size: 12px;
      }
      input[type='radio'] {
        width: 25px;
      }
    }
  }
  button {
    margin: 15px;
    color: white;
    background: $primary;
    border: none;
    padding: 16px 32px;
  }
}

.PageNumber {
  top: 15px;
  right: 20px;
  background: $secondary;
}
.BottomRight {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: $primary;
}
