@import './assets/style/main.scss';
@import './assets/style/table.scss';
@import './assets/style/card.scss';
@import './assets/style/pagination.scss';
@import './assets/style/form.scss';
@import './assets/style/fixed.scss';
@import './assets/style/toast.scss';
