@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
}
*{
  box-sizing: border-box;
}
body {
  background: #e2e1e0;
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-radius: 5px 5px 0 0;
}
